<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.arcboxlabs.desktop.helper</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/libexec/arcbox-helper</string>
        <string>--idle-exit</string>
    </array>
    <key>Sockets</key>
    <dict>
        <key>helper</key>
        <dict>
            <key>SockPathName</key>
            <string>/var/run/arcbox-helper.sock</string>
            <key>SockPathMode</key>
            <integer>438</integer>
        </dict>
    </dict>
    <key>ExitTimeOut</key>
    <integer>45</integer>
</dict>
</plist>
